body{
    background-color: purple;
            color:white;
}
 .one {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    border: 2px solid brown;
    background-color: orange;
 }
 .one:hover{
    background-color: black;
 }
 #heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    width: 1000px;
    height: 600px;
    margin-left:200px;
    background-image: url('images/ima.jpeg');
    background-size: 1000px 600px;
    color:black;
 }